@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --line-fill: #483D8B;
  --line-empty: #e0e0e0;
  --theme-main: darkolivegreen;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(90deg, #556B2F, #483D8B);
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s linear;
  width: 100%;
  min-height: 100%;
  background-color: white;
  transform-origin: top left;
}

.body.show-nav {
  transform: rotate(-20deg);
}

.body.show-nav+.navigation .navigation__bar-point {
  transform: translateX(0%);
  transition-delay: 0.3s;
}

.circle-container {
  position: absolute;
  top: -100px;
  left: -100px;
}

.circle-panel {
  background-color: var(--line-fill);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.5s linear;
  position: relative;
}

.body.show-nav .circle-panel {
  transform: rotate(-70deg);
}

.circle__button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 50%;
  height: 100px;
  border: 0;
  background: transparent;
  font-size: 26px;
  color: white;
}

.circle__button:focus {
  outline: none;
}

.circle__close-button {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.circle__open-button {
  left: 60%;
}

.navigation {
  position: fixed;
  bottom: 100px;
  left: 0;
  z-index: 10;
  font-size: 18px;
  color: white;
  font-weight: normal;
}

.navigation__bar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding-left: 30px;
}

.navigation__bar-point {
  margin: 30px 0;
  transform: translateX(-100%);
  text-transform: uppercase;
  transition: transform 0.4s ease-in;
}

.navigation__bar-point+.navigation__bar-point {
  margin-left: 20px;
  transform: translateX(-150%);
}

.navigation__bar-point+.navigation__bar-point+.navigation__bar-point {
  margin-left: 40px;
  transform: translateX(-200%);
}

.navigation__bar-point:hover {
  color: #FF7979;
  cursor: pointer;
}

.fas {
  margin-right: 10px;
}

.body.show-nav+.navigation .search-panel-container {
  transform: translateX(25%);
  transition: all 0.5s ease;
  transition-delay: 0.3s;
}
.search-panel-container{
  transform: translateX(-100%);
  transition: 0.5s;
  position: absolute;
  margin: 15px 0;
  padding: 0;
}

.search-panel{
  background-color: var(--line-empty);
  color: var(--theme-main);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  height: 50px;
  width: 50px;
  padding: 15px;
  transition: all 0.5s ease;
  margin: 0;
  opacity: 0;
  background-color: var(--line-empty);
}

.search-panel__button{
  color: var(--line-empty);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
}

.search-panel__button:focus, 
.search-panel:focus {
  outline: none;
}

.search-panel-container.active .search-panel {
  width: 200px;
  opacity: 1
}

.search-panel-container.active .search-panel__button{
  transform: translateX(198px)
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90vw;
  margin-top: 100px;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  color: white;
  cursor: pointer;
  flex: 0.1;
  margin: 10px;
  position: relative;
  transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  overflow: hidden;
  border: 5px solid grey;
  border-radius: 30px;
}

.panel:hover {
  opacity: 0.8;
}

.panel.active {
  flex: 0.4;
}

h3 {
  margin: 0;
  font-size: 30px;
  position: absolute;
  bottom: 40px;
  left: 35px;
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel1 {
  background-image: url('./images/panel1.png');
  color: orange;
  border-color: orange;
}

.panel2 {
  background-image: url('./images/panel2.png');
  color: purple;
  border-color: purple;
}

.panel3 {
  background-image: url('./images/panel3.png');
  color: pink;
  border-color: pink;
}

.panel4 {
  background-image: url('./images/panel4.png');
  color: darkblue;
  border-color: darkblue;
}

.container3 {
  text-align: center;
  padding: 200px 0 100px 0;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 350px;
  max-width: 100%;
  position: relative;
}

.progress-container::before {
  content: '';
  background-color: var(--line-empty);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: 1;
}

.progress {
  background-color: var(--line-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0;
  transform: translateY(-50%);
  z-index: 1;
  transition: 1s;
}

.circle {
  background-color: white;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-empty);
  transition: 1s;
  z-index: 2;
}

.circle.activeCircle {
  border-color: var(--line-fill);
}

.progress-btn {
  background-color: var(--line-fill);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  padding: 8px 30px;
}

.progress-btn:active {
  transform: scale(0.98);
}

.progress-btn:focus {
  outline: none;
}

.progress-btn:disabled {
  background-color: var(--line-empty);
  cursor: not-allowed;
}
